.display_homeFeatures {
    padding: 1% 2%;
    justify-content: space-evenly;
}


@media only screen and (max-width: 768px) {
    .display_homeFeatures {
        grid-template-columns: repeat(2, 6fr) !important;
    }
}